{erl_opts, [
           debug_info,
           {d, 'DEBUG', true},     
           {platform_define, "(linux|solaris|freebsd)", 'BACKLOG', 128},
           {parse_transform, lager_transform}
]}.

{minimum_otp_vsn, "18.3"}.

{erl_first_files, ["src/connector.erl"]}.
{validate_app_modules, true}.

{dist_node, [
            {setcookie, 'connectorsecretcookie'},
            {name, 'connector@127.0.0.1'}
]}.

{shell, [
        {apps, [sqlite3, lager, ranch, cowboy, emqttc, connector]}
]}.

{base_dir, "_build"}.
{deps_dir, "lib"}.
{root_dir, "."}.
{profile_dir, "_build/default/"}.
{project_app_dirs, ["apps/*", "lib/*", "."]}.
{src_dirs, ["src"]}.
{include_dirs, ["include"]}.

{relx, [
        {release, 
                  {"connector", "1.1.1"}, 
                  [
                        sasl,
                        ssl,
                        lager,
                        crypto,
                        inets,
                        emysql,
                        emqttc,
                        rfc4627_jsonrpc,
                        connector
                  ]
        },
        %{overlay_vars, "vars.config"},
        {overlay, 
                  [
                        {mkdir, "log"},
                        {mkdir, "logs"},
                        {mkdir, "sys_log"},
                        {copy, "share_lib", "share_lib"}, 
                        {copy, "priv", "priv"},
                        {copy, "config", "config"},
                        {copy, "rel", "rel"},
                        {copy, "ref", "ref"},
                        {copy, "shell", "shell"},
                        {copy, "db_store", "db_store"}
                  ]
        },          
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
]}.

{profiles, [
                {test, [
                       {relx, [
                              {dev_mode, false}
                       ]},
                       {deps, [
                              %%{meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.8.4"}}}
                       ]},
                       {cover_enabled, false}
                ]},
                {dev, [
                       {relx, [
                              {include_src, false},
                              {dev_mode, false},
                              {include_erts, true}                  
                       ]},
                       {erl_opts, [
                                  {debug_info_key, "qazwsx"},
                                  no_debug_info
                       ]}
                ]},
                {prod, [
                       {relx, [
                              {dev_mode, false},
                              {include_src, false},
                              {include_erts, true}
                       ]},
                       {erl_opts, [
                                  {debug_info_key, "qazwsx"},          
                                  {d, 'NODEBUG'}
                       ]}
                ]}
]}.

{deps, [
       {sqlite3, "v1.1.4"},
       {sqlite3, {git, "git://github.com/alexeyr/erlang-sqlite3.git", {tag, "v1.1.4"}}},
       {ranch, "1.3.0"},
       {ranch, {git, "git://github.com/ninenines/ranch.git", {tag, "1.3.0"}}},
       {cowboy, "2.0.0-pre.4"},
       {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.4"}}},
       {jsx, "v2.8.1"},
       {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.8.1"}}},
       {lager, "3.2.4"},
       {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.2.4"}}},
       {rfc4627_jsonrpc, ".*", {git, "git://github.com/tonyg/erlang-rfc4627.git",{branch,"master"}}},
       %%{emysql, ".*", {git, "git://github.com/Eonblast/Emysql.git", {branch, "master"}}},
       {emqttc, ".*", {git, "git://github.com/emqtt/emqttc.git", {branch, "master"}}}

]}.



