%% Gateway connect opts
{gateway_connect_opts, [
                        {nbAcceptors, 100}, 
                        {transOpts, [{port, 8765}, {max_connections, 20480}]}
                       ]}.

%% Client request opts
{client_request_opts, [
                        {nbAcceptors, 100}, 
                        {transOpts, [{port, 7654}, {max_connections, 20480}]}, 
                        {protoOpts, [{request_timeout, 310000}, {max_keepalive, 1024}]}
                      ]}.

%% Active report opts
{active_report_opts, [{report, "off"}, {ip, "10.168.1.225"}, {port, 10000}]}.

%% Emqtt report opts
{emqtt_report_opts, [{switch, "on"},{ip,"10.168.1.229"},{port,1883},{client_id, <<"180723000001">>}]}.

%% Emysql opts
{mysql_opts, [{switch, "off"},{ip,"10.168.1.229"},{port,3306},{database, "report"}]}.

%% EasyIot request opts
{easyiot_opts, [
                 {switch, "off"}, {callback,"10.168.1.160"}, {port,7654},
                 {serverid,"szmx01"}, {password,"8fiAnb8M"}
               ]}.

%% Cloudproxy request opts
{cloudproxy_request_opts, [{cloudswitch, "off"}]}.

%% Task process opts
{task_process_opts, [
                        {taskswitch, "off"},
                        {timeout, 300000},
                        {task_priority, -20},
                        {url, "http://127.0.0.1:7654"}
                    ]}.
